@import '../../../common.styl'

.screen
.head
  background white;

.screenWrapper
  width 100%
  padding 28px


.screenWrapper
.screen
  height: 100%

.row
  display grid
  grid-template-columns 7% 20% 25% 14% 34%
  padding: 12px 24px


.table
  height 88%
  overflow-y auto

.head
  position sticky
  top 0

.pagination
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;